*:focus{
 outline: none;
}
*{
 box-sizing: border-box;
}

body{
margin: 0;
background-color: #eaeaea;
text-align: center;
}
header{
background-color: #333333;
width: 100%;
position: fixed;
top: 0;
z-index: 10;
}
h1{
  font-family: fantasy;
}
.header-wrapper{
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
max-width: 1000px;
margin: auto;
}
header button.home-btn{
font-family: 'Roboto Condensed', sans-serif;
font-size: 21pt;
border-left: 2px solid black;
border-right: 2px solid black;
color: white;
background-color: #333333;
border-top: 0;
border-bottom: 0;
}
.home-btn:hover{
color: grey;
}
.nav-middle-container{
width: 45%;
}
.nav-middle-container input{
  width: 90%;
  color: #666;
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 5px 7px;
  background: #e5e5e5;
}

.nav-right-container{
  display: flex;
  text-align: center;
  width: 20%;
  justify-content: space-between;
}
.sign-out-btn{
background-color: #f50;
color: #fff;
font-family: 'Roboto Condensed', sans-serif;
font-size: 17px;
border: none;
width: 40%;
height: 90%;
margin-top: 2.5%;
}
.sign-out-btn:hover{
background-color: #FF7300 ;
}

.menu-img{
width: 15px;
height: 15px ;
margin-top: 95%;
-webkit-transition: -webkit-transform .5s ease-in-out;
       transition: transform .5s ease-in-out;
}
.menu-img:hover{
-webkit-transform: rotate(360deg);
        transform: rotate(360deg);
}
#go-to-search-btn{
display: none;
}
header img{
height: 46px;
width: 69px;
position: relative;
}
.user-img{
width: 30px;
height: 35px;
}

section{
background-color: white;
width: 100%;
max-width: 1000px;
margin: auto;
margin-top: 25px;
text-align: center;
padding: 30px 30px;
padding-bottom: 41vh;
}
ul{
padding: 0;
}
ul > li {
list-style: none;
}
.test{
padding-bottom: 100vh;
height: 0;
}
.sign-in{
font-family: 'Roboto Condensed', sans-serif;
font-size: 35pt;

}
.log-info{
margin-top: 10vh;
}
.log-info > input{
height: 45px;
width: 50%;
margin: 20px auto ;
}
.log-info > button{
  height: 45px;
  width : 25%;
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 5px;
}

footer{
font-family: 'Roboto Condensed', sans-serif;
margin-top: 2%;
height: 50 ;
width: 100%;
text-align: center;
font-size: 10pt;
}
