<p class="musicloud-p"> Musicloud</p>

<p class = 'about-text'>This project's for educational purposes
  the original website is <a href="https://soundcloud.com/">Soundcloud</a>

  As a front end developer the company give us photoshoped images and ask us to make the same ,
  that's why i treid to rebuild a famouse website ,<br>
  in this project i used:<br>
  * Bootstrap for the foundations <br>
  * Jquery in the directives' link functions <br>
  * Wavesurfer library for the audio and for showing the wave form<br>
  * Css animation<br>

  I tried to keep my code dry , i had one HTML page and a Javascript file 'outside the angular' where the<br>
  library's function was set up .<br>

  Every view has a functional directive that uses one HTML Template and it's own<br>
  controller.<br>

<br>
  Hope you like it ,
  <br>
  Qais Malik



</p>
